.order-summary-container {
  width: 25vw;
  background-color: lightgrey;
  padding: 0 2vw 2vw 2vw;
}

.order-summary-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: darkslategray;
}

.order-summary-promo {
  cursor: pointer;
  color: cornflowerblue;
  margin-bottom: 20px;
  font-weight: bold;
}

.order-summary-promo-value {
  color: blueviolet;
}

.order-summary-remove-promo {
  color: red;
  font-size: 12px;
  cursor: pointer;
  margin-left: 20px;
}

.order-summary-total {
  color: darkslategray;
}
